body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  background: #282828;
  color: #f8f7f1;
}

/*** Common element styles ***/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 20px;
}
p, span, .content {
  color: #f8f4e4;
  opacity: .75;
}
.btn {
  padding: 10px 16px;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 800;
  border: none;
  border-radius: 4px;
  margin: 5px;
  transition: all 750ms cubic-bezier(0.23, 1, 0.320, 1);
}
a.btn {
  text-decoration: none;
  /* color: rgba(255, 255, 255, 0.8); */
}
.btn.btn-main {
  background-color: #d65d0e;
  color: #fbf1c7;
}

/*** Main content ***/

.wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "aside content";
  column-gap: 10px;
  align-content: stretch;
  justify-content: center;
}

/* Left side */
.aside {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 90vh;
  width: 20%;
  margin-right: auto;
  position: fixed;
}

.intro > .profile {
  margin-bottom: 35px;
}

.side-nav {
  margin-top: 10px;
}
.side-nav > .nav {
  list-style-type: decimal;
  padding-inline-start: 30px;
  padding-left: 30px;
}

.nav .nav-item {
  padding: 5px;
  color: #fbf1c7;
  opacity: .75;
}
.nav .nav-item:hover {
  color: #f9f5d7;
  text-decoration: underline;
  text-underline-offset: 2px;
  opacity: 1;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.links .social {
  display: inline-flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
}
.links .social .social-item {
  padding: 0 8px;
}
.social-item .social-link {
  text-decoration: none;
  color: #f9f5d7;
}
.social-item .social-title {
  display: none;
  transition: all 5s ease-in;
}
.social-item .social-link:hover .social-title {
  display: inline-block;
  margin-left: 5px;
  font-size: .9em;

}

/* Right side */
.main-content {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: end;
  margin-left: auto;
}

.section {
  margin: 20px;
  padding: 10px 30px;
}
.section-head {
  margin-bottom: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  background-color: #1d2021;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}
.item:hover {
  transform: scale(105%);
}
.item .meta {
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 5px;
}
.form-control {
  color: #f8f4e4;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .25);
  min-height: 30px;
}
.form-control:hover, .form-control:focus {
  border: none;
}